
nav{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction:column;
}


#brand_navigation a{
  padding: 30px;
}

#brand_enquiry{
  display: flex;
  visibility: hidden;
}

#brand_enquiry h3{
    padding: 10px;
}